* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: 1px solid grey;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

header {}