* {
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
    background-color: #021D44;
    color: white;
}

nav {
    margin: 2% 0;
    width: 25%;
    display: flex;
    justify-content: center;
}

nav a {
    width: 25%;
    text-align: center;
    padding: 1% 0;
    border: 1px solid grey;
    color: black;
    background-color: white;
}

.button1 {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.button4 {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

header .text-container {
    width: 80%;
    margin-top: 2%;
}

.hero-image-section {
    height: 40vh;
}

.hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../assets/hero-img.jpg');
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

.gallery-section {
    display: flex;
    flex-direction: row;
    padding: 3% 0;
}

.left {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 24%;
}

section.gallery-section .text-container {
    width: 30%;
    margin-bottom: 5%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #ecf0f1;
}

footer a {}