/** Reset **/

* {
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

a {
    text-decoration: none;
}


/** CSS Animations **/

@keyframes focus {
    from {
        margin-bottom: 0;
        opacity: 0.2;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
    }
    to {
        margin-bottom: 5%;
        opacity: 1;
        -webkit-box-shadow: 10px 35px 24px 0px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 10px 35px 24px 0px rgba(0, 0, 0, 0.55);
        box-shadow: 10px 35px 24px 0px rgba(0, 0, 0, 0.55);
    }
}


/** General Styling **/

body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 5px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

section {
    border-bottom: 0.5px solid black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
    padding-top: 3%;
    background-color: white;
    color: #2D2B38;
    border-bottom: 0.5px solid black;
}

nav {
    margin: 2% 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-align: center;
    padding: 1% 2%;
    color: #2D2B38;
    background-color: white;
    border: 1px solid #2D2B38;
    font-size: 1.4vw;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    transition: background 1s, color 1s;
}

nav a:hover {
    /**
    border: 1px solid #021D44;
    color: white;
    background-color: #E94151;
    **/
    color: white;
    background-color: #2D2B38;
}

.button1 {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.button4 {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

header .text-container {
    width: 80%;
    margin-top: 2%;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    color: #2D2B38;
}

.section-break {
    width: 60%;
    margin-top: 2%;
    border-top: 1px solid grey;
    box-shadow: ;
}

.hero-image-section {
    height: 40vh;
}

.hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../assets/hero-img.jpg');
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

.gallery-section {
    display: flex;
    flex-direction: row;
    padding: 3% 0;
}

.left {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 24%;
    /* border-radius: 3px; */
}

.project-image:hover {
    animation: focus 2s;
    animation-fill-mode: both;
}

section.gallery-section .text-container {
    width: 40%;
    margin-bottom: 5%;
    font-weight: 525;
    /* text-shadow: 9px 9px 9px rgba(150, 150, 150, 1); */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0 2% 0;
    background-color: #E0E0E0;
}

footer a {
    color: #2D2B38;
    border: 1px solid #9fa5ac;
    padding: 1% 2%;
    background-color: white;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: color 1s, background 1s, font-size 1s;
}

footer a:hover {
    background-color: #2D2B38;
    color: white;
    font-size: 1.5rem;
}