/** Reset **/

* {
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

a {
    text-decoration: none;
}


/** CSS Animations **/

@keyframes focus {
    from {
        margin-bottom: 0;
        opacity: 0.2;
    }
    to {
        margin-bottom: 5%;
        opacity: 1;
    }
}


/** General Styling **/

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 575;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.8rem;
    font-weight: 550;
}

section {
    border-radius: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
    padding-top: 3%;
    background-color: #021D44;
    color: white;
}

nav {
    margin: 2% 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-align: center;
    padding: 1% 2%;
    border: 1px solid #021D44;
    color: white;
    background-color: #E94151;
    font-size: 1.4vw;
    transition: 1s;
}

nav a:hover {
    color: ##E94151;
    background-color: #021D44;
    border: 1px solid white;
}

.button1 {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.button4 {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

header .text-container {
    width: 80%;
    margin-top: 2%;
    font-size: .9rem;
}

.hero-image-section {
    height: 40vh;
}

.hero-image {
    height: 100%;
    width: 100%;
    background-image: url('../assets/hero-img.jpg');
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

.gallery-section {
    display: flex;
    flex-direction: row;
    padding: 3% 0;
}

.left {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    width: 24%;
}

.project-image:hover {
    animation: focus 2s;
    animation-fill-mode: both;
}

section.gallery-section .text-container {
    width: 30%;
    margin-bottom: 5%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0 2% 0;
    background-color: #021D44;
}

footer a {
    color: white;
    border: 1px solid #021D44;
    padding: 1% 2%;
    background-color: #E94151;
    font-weight: 500;
}